.friends-scroll{

  .friends-scroll__list{
    border-radius: 10px !important;
    height: 450px;
    padding: 20px
  }

  .friends-scroll__image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 35px;
  }

  .friends-scroll__item{
    &:nth-child(n + 5){
      margin-top: 35px;
    }
    border-radius: 5px;
    flex-grow: 0;
    flex-basis: auto;
    width: 25%;
  }

}
