.dark-bg {
  background-color: $dark !important;
}

.blue-bg {
  background-color: $blue !important;
}

.transparent-blue-bg {
  background-color: rgba(102, 192, 244, 0.6) !important;
}

.light-blue-bg {
  background-color: $lDark !important;
}

.dark-teal-bg {
  background-color: $dTeal !important;
}

.grey-bg {
  background-color: $grey !important;
}

.green-bg {
  background-color: $green !important;
}

